
.note-container{
    border: 1px solid black;
    height: 100%;
    overflow: scroll;
    min-width: 230px;
    flex-shrink: 0;
}

.note-container ul{
    list-style-type: none;
    padding-left: 0px;
}

.container-title{
    text-align: center;
    border-bottom: 1px solid;
}